<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
    <h1>Task 2:</h1>
    <a href="function_view/">Function view</a>
    <br>
    <a href="class_view/">Class view</a>
    <br>
    <br>
    <h1>Task 3:</h1>
    <a href="platform/">Platform</a>
    <br>
    <a href="platform/games/">Platform Game</a>
    <br>
    <a href="platform/cart">Platform Cart</a>
    <br>
    <br>
    <h1>Task 4:</h1>
    <a href="platform/">Platform</a>
    <br>
    <br>
</body>
</html>